<div class="row">
    <div class="col-md-12">
        <div class="card card-gradient">
            <div class="card-header">{{'Active Bonuses' | translate}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="list-group list-group-default">
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-sm font-weight-bold px-4 mr-2">Cancel</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-sm font-weight-bold px-4 mr-2">Cancel</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-sm font-weight-bold px-4 mr-2">Cancel</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-gradient">
            <div class="card-header">{{'Available Bonuses' | translate}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="list-group list-group-default">
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">Activate</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">Activate</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">Activate</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-gradient">
            <div class="card-header">{{'Completed Bonuses' | translate}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="list-group list-group-default">
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">View</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">View</button>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center bonus-wrapper">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1">Bonus name</p>
                                        <h5 class="mb-1 text-yellow-lemon font-weight-bold">Name of Bonus</h5>
                                    </div>

                                    <div class="d-flex flex-column">
                                        Amount <span class="text-yellow-lemon font-weight-bold">€20</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        Wagering <span class="text-yellow-lemon font-weight-bold">€200</span>
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm font-weight-bold px-4 mr-2">View</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
