<div class="default-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeForgotPasswordModal()">
            <i class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="text-center mx-auto main-brand mb-3">
                        <img class="text-center" src="img/casino/bet-happy-logo-lg.png" alt="Bet Happy"/>
                    </div>
                    <h3 class="text-center font-weight-bold mb-4">Forgot your password?</h3>
                    <p>Don't worry, happens to the best of us.</p>
                    <p>Just enter your email address and we will send you a reset password link.</p>
                    <form role="form" name="forgotPasswordForm" novalidate class="needs-validation">
                        <div class="form-group">
                            <label for="inputEmail">E-mail</label>
                            <input type="email" id="inputEmail" name="email" ng-model="ForgotPassword.email" ng-pattern="$root.emailFormat" required="" autofocus="" class="form-control form-control-lg" 
                                   ng-class="{'is-invalid':forgotPasswordForm.email.$error.required && !forgotPasswordForm.email.$pristine}"/>
                            <span ng-show="forgotPasswordForm.email.$error.required && !forgotPasswordForm.email.$pristine" class="text-danger">E-mail is required.</span>
                            <span ng-show="forgotPasswordForm.email.$error.pattern && !forgotPasswordForm.email.$pristine" class="text-danger">This is not a valid e-mail address.</span>
                            <span ng-show="forgotPasswordForm.email.$error.uniqueField" class="text-danger">E-mail is already taken!</span>
                        </div>                           
                        <button class="btn btn-lg btn-default btn-block text-uppercase font-weight-bold mb-2" ng-disabled="forgotPasswordForm.$invalid" type="submit" ng-click="forgotPassword(ForgotPassword.email)">Send</button>                             
                    </form>
                    <p>Please contact <a href="mailto:{{websiteEmail}}" class="text-link-default">{{websiteEmail}}</a> for additional assistance if you do not receive an email from us soon. 
                    </p>
                    <p>Be sure to check your spam or junk folder, just in case.</p>
                </div>
            </div>
        </div>
    </div>
</div>