
<div class="default-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeGDPRModal()"><i class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center mx-auto main-brand mb-3">
                        <img class="text-center" src="img/casino/atlantic_slot_logo.png"/>
                    </div>

                    <h3 class="text-center font-weight-bold mb-4">General data protection regulation (GDPR) policy</h3>

                    <h2>Data Protection Disclaimer</h2>
                    <p>Atlantic Slot Online Casino hereby confirms that the information and personal data submitted by you in relation to our services shall be collected, processed and stored in accordance with the requirements of personal data protection laws of the European Union as defined in the GDPR and all other applicable regulations.</p>

                    <p>By submitting your data, you agree that the data shall be processed and stored as defined in our full privacy policy as required to provide our services to you and always as you would reasonably expect. In some cases, we may need to store your data for a longer period of time for legal or regulatory reasons.</p>

                    <p>The data collected will not be transferred to third parties outside of our group, except for when this is required to provide our services to you, or to carry out our contractual obligations to you. This applies to you as a potential customer, customer, employee or in any other relationship. Your data may be shared in case such duty is imposed by applicable laws.</p>

                    <p>We respect your rights under GDPR and will always respond to requests promptly and courteously. You shall be entitled at any time to require an update of your data, information regarding the use of your personal data, to object to processing, to request transfer of your data as well as to require deletion of your data by contacting us on the details provided.</p>

                    <p>For more info and access to our full privacy statement and terms of use please see the following links:

                    <ul>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/terms-of-use">TERMS OF USE</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/privacy-policy">PRIVACY POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/deposits-policy">DEPOSITS POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/withdrawals-policy">WITHDRAWALS POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/refunds-policy">REFUNDS POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/anti-money-laundering-policy">ANTI-MONEY LAUNDERING POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/responsible-gaming">RESPONSIBLE GAMING POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/gdpr-policy">GDPR POLICY</a></li>
                        <li><a class="text-link-default" href="https://www.atlanticslot.com/#!/complaints">COMPLAINTS</a></li>
                    </ul>

                    <div>ASTRA DIGITAL LTD,</div> 
                    <div>str. Georgi Sava Rakovski 161A, et.3, ap.8</div>
                    <div  class="mb-3">Sofia, Bulgaria.</div> 

                    <div class="mb-3">E-mail: <a class="text-link-default" href="mailto:support@atlanticslot.com">support@atlanticslot.com</a></div> 

                    <div>Phone: <a class="text-link-default" href="tel:359877772521">+359 87 7772 521</a></div> 



                </div>





            </div>
        </div>
    </div>
</div>