<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">About us</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>Atlantic Slot casino is a clear-cut casino created for those who love casino games and good online entertainment. At Atlantic Slot casino you are in the right place! The Company is active in the online gaming and casino industry since 2011 and offers a wide range of games.</p>
                    
                    <h2>Games</h2>
                    <p>The Atlantic Slot casino offers a wide selection of games. All games are HTML5 of Flash so no download is necessary. The Atlantic Slot casino games are delivered by well-known and high-class suppliers. The games are thoroughly tested and certified. This implies that an independent institution tested the games and confirmed the arbitrary endings. Certificates like ours are only awarded when games absolutely guarantee arbitrary course of the game and the Random Number Generator (RNG) is in order and can’t be manipulated in any way.</p>
                   
                    <h2>Targets</h2>
                    <p>The Atlantic Slot casino’s goal is to provide the players with a trusting and honest playing environment and maximum fun in the gameplay. This is achieved through a wide range of exclusive games, which are enriched by the latest technology and current trends. The Atlantic Slot casino cooperates with the best game suppliers who have proven their experience in the casino industry. We want to bring the fundamentals of casino play to the forefront and root them in a great user-functionality, thus giving you an unparalleled casino experience. In case of any problems or questions, our Customer Support tries to provide the best possible service.</p>
                    
                    <h2>Trust</h2>
                    <p>Player trust is one of the top priorities of The Atlantic Slot casino. Nothing is more annoying for you as a Player than to have to wait whether as a result of maintenance work, or await the payment of winnings, or answers from our customer service. These are aspects that distinguish Atlantic Slot casino from other casinos, and one of the reasons why our license was awarded.</p>
                    <p>Playing at Atlantic Slot casino means honest, fair play in a trusted environment. Working with the leading software suppliers in the industry, guarantees our players to experience a completely new and exclusive gaming environment. </p>
                    <p>We support a wide range of payment options that are quick, safe and reliable, and you can decide which method suits you best. More information about the payment options can be found on our <a href="/#!/payments">Payments</a> page. The deposits and withdrawals are done in cooperation with the most popular and therefore, most trusted partner companies which offer the best and safest services.</p>
                    
                    <h2>Service</h2>
                    <p>Our support team is always ready for you. You can use our handy contact form, or reach us via email and The Atlantic Slot casino team will answer and give online assistance in real time. For full details please visit our <a href="javascript:;" ng-click="openContactModal()">Contact us</a> page.</p>
                    
                    <h2>Payments</h2>
                    <p>The Atlantic Slot works with highly recommended and trusted payment providers. For most countries, we offer local payment solutions, besides the well-known worldwide payment methods. Aside from these common options, you will find a credit card option in your cashier. For more information see our <a href="/#!/payments">Payments</a> page.</p>


                </div>
            </div>

<!--            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>-->
        </div>
    </div>
</div>