<div ng-init="getPage('bet-happy-affiliates')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Atlantic Slot Affiliates Program</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="parallax">
                        <h2 class="text-center font-weight-bold">Get ready to start earning with our award winning affiliate program</h2>
                        <p>Contact us to work with a passionate, dedicated, award winning Affiliate Program.</p>

                        <a href="mailto:support@atlanticslot.com" class="btn btn-default text-white text-decoration-none rounded-pill px-4 mt-4">Contact us</a>
                    </div>
                </div>


                <div class="col-md-12 col-lg-12 mt-5">

                    <h2>What is Atlantic Slot Affiliates?</h2>
                    <p>Atlantic Slot Affiliates is a unique direct affiliate program that gives you the chance to earn commissions every month simply by promoting our casino and helping us welcome new members.</p>

                    <h2>How does this Affiliate program work?</h2>
                    <p>Very simple! You register for free, receive a unique affiliate code that your players will use to register on our site and you will receive a commission.</p>

                    <h2>Is there a minimum of players I must send?</h2>
                    <p>Yes, we require you to send at least one player every three months.</p>

                    <h2>Why should I sign up to Atlantic Slot Affiliates?</h2>
                    <p>Why not? We offer a unique product, fair gaming and a lot of fun. You would only be proud to promote us to your users. And if they choose to pay for the fun we are offering — we will be happy to share it with you!</p>

                    <h2>Are there any joining fees to be associated with Atlantic Slot Affiliates?</h2>
                    <p>There are no fees at all: joining Atlantic Slot Affiliates is 100% free.</p>

                    <h2>Can I become an affiliate even if I don’t have my own website?</h2>
                    <p>Yes. Joining Atlantic Slot affiliates does not require owning a site. You can use Skype, social media or email to promote Atlantic Slot and gain referrals. Contact our affiliate managers today at <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a> to discuss the options available.</p>

                    <h2>How do I join?</h2>
                    <p>To enter our Affiliate program simply contact us at <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a>. You will be asked to provide necessary information for entering the program. There will be a brief approval process while the affiliate managers check out and approve your application. Once you have been approved you will receive all of the necessary information in an email.</p>

                    <h2>Who will be my point of contact?</h2>
                    <p>We will assign you an affiliate manager when your application will be approved. This person will be your main point of contact for everything related to Atlantic Slot Affiliates. You can ask them any questions and discuss your strategy with them to improve your odds of converting.</p>

                    <h2>What regions do you support?</h2>
                    <p>We are happy to see everybody. But we are a legal platform, which means we have to follow some regulations. Currently there are restrictions to play for users from but not limited to the following countries: Afghanistan, Algeria, American Samoa, Azerbaijan, Bangladesh, Barbados, Bhutan, Belarus, Belgium, Bosnia and Herzegovina, Bulgaria, Burma, Central African Republic, Cuba, Cote d’Ivoire, Democratic Republic of Congo, Ecuador, France, Guatemala, Hong Kong, Iceland, India, Indonesia, Iran, Iraq, Israel, Jordan, Kuwait, Kyrgyzstan, Lebanon, Libya, Liberia, Lithuania, Mali, North Korea, Nicaragua, Norway, Pakistan, Russia, Singapore, Somalia, Sudan, Syria, Taiwan, Turkey, Tunisia, Tuvalu, Ukraine, Uzbekistan, Yemen, Zimbabwe, USA or other restricted jurisdictions.</p>

                    <h2>Can everyone take part in this program?</h2>
                    <p>Yes, normally, but there are some restrictions regarding the players country (see “What regions do you support?”) and we do not accept visitors under the age of 18.</p>

                    <h2>Can I register more than one website?</h2>
                    <p>Our program supports direct affiliate model, meaning one level affiliate with players. As an affiliate you can have multiple direct affiliates’ accounts.</p>

                    <h2>How often are earnings payed?</h2>
                    <p>Payments are made every month. We strive to pay every affiliate by the end of each following month.</p>

                    <h2>Is there a limit on Affiliate withdrawals?</h2>
                    <p>In order to receive earnings, minimum earnings of €100 are applied. Below that amount earnings are not processed, and rollover to the following month until the minimum is met. For payments by bank transfer a minimum payment amount of €500 is applicable. If you have any issues or special requests, please send an email to your appointed Affiliate Manager or send an email to support@atlanticslot.com.

                    <h2>How will I receive my earnings?</h2>
                    <p>Earnings are paid by bank transfer every month or you can contact us on <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a> and we will find a suitable solution.  Keep in mind, if your monthly profit is less than €100, you will need to wait until this amount is accumulated on your account — it won’t take long.</p>

                    <h2>What's net revenue?</h2>
                    <p>The strict explanation of net revenue is bets minus wins minus jackpot contributions minus cash backs. Net Revenue is calculated after all costs have been deducted. Beside the normal operational casino costs we also deduct costs for payments, fraud, software, and chargebacks.</p>

                    <h2>How are commissions that I receive calculated?</h2>
                    <p>We calculate all commission on the basis of the net revenue. This means that 20% for costs is reduced from the bets minus wins which is then called net revenue.</p>

                    <h2>What is the reward structure for a partner of Atlantic Slot Affiliates?</h2>
                    <p>Here at Atlantic Slot we have a standard commission structure in place that changes over time as you bring more and more customers to the table. Starting off at 20% revenue share and growing to as high as 45%, this is how the model looks;</p>
                    <ul>
                        <li>Net Revenue from 0 - 2,000 euro = 20% commission</li>
                        <li> Net Revenue from 2,001 - 4,000 euro = 25% commission</li>
                        <li> Net Revenue from 4,001 - 6,000 euro = 30% commission</li>
                        <li> Net Revenue from 6,001 - 8,000 euro = 35% commission</li>
                        <li>Net Revenue from 8,001 - 10,000 euro = 40% commission</li>
                        <li> Net Revenue from 10,001 - 12,000 euro = 45% commission</li>
                    </ul>

                    <h2>How does it work if I have a negative balance at the end of the month?</h2>
                    <p>Here at Atlantic Slot Affiliates we do not enforce Negative Carry Over, so all negative balances are written off at the end of the month.</p> 

                    <h2>Where can I find marketing materials?</h2>
                    <p>To find our banners and images please log into the Affiliate Panel and navigate your way to the Media tab in the menu. Here you can find the materials you are looking for.</p> 

                    <h2>Will I be able to obtain custom / unique marketing materials?</h2>
                    <p>Yes, just contact your affiliate manager for more help. We are happy to generate banners and send you materials that you need at any time.</p>

                    <h2>How do I track my earnings?</h2>
                    <p> All affiliates are provided with detailed statistics in their account. You can always check the number of users you bring to us, the revenue they generate, your own commission and many other useful reports and numbers.</p>

                    <h2>How will you keep track of the players I send to Atlantic Slot Affiliates?</h2>
                    <p>Each player that registers needs to enter your unique code on registration. That player is then connected to you and tagged as “your” player, and they will bring a lifetime profit to you.</p>  

                    <h2>How often are the reports updated?</h2>
                    <p>The reports that we have in the Atlantic Slot Affiliates back end will be updated once every 24 hours, we will update your statistics every day to give you an accurate representation of your earnings.</p>

                    <h2>Can I change my registered information in the system?</h2>
                    <p> Yes, it is possible to change or add info to your account. Just contact your affiliate manager for more help.</p>

                    <h2>What game providers can I find at Atlantic Slot?</h2>
                    <p>Players at Atlantic Slot can enjoy games from Habanero, Leap, Evolution, Triple Pg, Spinomenal, Endorphina, EvoPlay, Mascot Games, Pragmatic Play, Vivo, Hacksaw, Iron Dog, Blueprint, Betsoft, Fazi, Caleta, PlayPearls, Fugaso, Betixon, Kalamba, Tom Horn, Spinmatic, Gameart, Quickspin, 1X2 Gaming, ThunderKick, No Limit City, BF Games, Ezugi, One Touch, Golden Race, PG Soft, Ganapati, Swintt, Spade Gaming, Felt Gaming, Salsa Technology, ReelTime Gaming, Woohoo, Slotvision, Revolver, BetGames, Push Gaming, Hollywood TV, Asia Gaming Live, Kiron, Digitain and Xplosive.</p>

                    <h2>Where can I find Terms of use?</h2>
                    <p> Terms of use are available to everyone. Please visit <a href="https://atlanticslot.com/terms-of-use">this</a> link to find out more.</p>

                    <h2>I still have a question?</h2>
                    <p> It’s fine! Contact us at <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a>. We are always here to help!</p>


                </div>
            </div>
        </div>
    </div>
</div>-->