<div ng-init="getPage('anti-money-laundering-policy')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Anti-money laundering policy</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>As soon as a Player opens an account with <a href="https://www.atlanticslot.com/">www.atlanticslot.com</a>, the Player is agreeing to abide by all the rules and regulations related to anti-money laundering that are in place. In short, the Player binds himself not to use funds that are, in any way the proceeds of crime.</p>
                    <p>Players may not use Atlantic Slot services in any way directly or indirectly associated with money laundering.</p>
                    <p>If the Player does not respect these rules and regulations then Atlantic Slot may suspend the Player’s Account.</p>
                    
                    <h2>Registration of Players</h2>
                    <p>The process of registration of players is provided under the Terms of use.</p>
                    <p>Before opening an Account, there must be a registration which involves the provision of accurate details to Atlantic Slot . Atlantic Slot has the discretion to verify the creditworthiness of a Player with third parties who previously provided any information on the Player.</p>
                    <p>Upon registration, Player has to fill in all the information requested and it is the Player's responsibility to ensure that the information provided is complete and accurate.</p>
                    <p>Atlantic Slot reserves the right to carry out verification procedures.</p>
                    <p>Incase Atlantic Slot suspects that Player provided false information, we are entitled to close and block Player's access to Account.</p>
                    <p>Player has the responsibility to inform Atlantic Slot of any updates or changes of his information.</p>
                    <p>If Atlantic Slot becomes aware that a person has provided false information we will immediately cancel that person’s registration as a Player with Atlantic Slot and close his/her Account.</p>
                    <p>No person under eighteen years of age (or the applicable majority age in that person’s jurisdiction) may be registered as a Player. Any funds deposited or any money won by any such person shall be forfeited to the Regulatory Authority.</p>
                    <p>Atlantic Slot shall, at all times, keep a secure online list of all registered Players.  Any one individual can only register a single Account with Atlantic Slot and multi-account practices are strictly prohibited.</p>
                    
                    <h2>Anonymous accounts</h2>
                    <p>Atlantic Slot shall not open anonymous Accounts or Accounts in fictitious names such that the true beneficial owner is not known.</p>
                    
                    <h2>Examination of transactions</h2>
                    <p>Atlantic Slot reserves the right to monitor all of the transactions for the purpose of preventing money laundering. Furthermore, Atlantic Slot reserves the right to examine, with special attention, and to the extent possible, the background and purpose of any complex or large transactions and any transactions which are particularly likely, by their nature, to be related to money laundering or the funding of terrorism.</p>
                    
                    <h2>Payments of winnings (withdrawals)</h2>
                    <p>A Player requesting the first withdrawal following registration shall be required to verify his identity through the submission of a copy of an identification document. The withdrawal request shall not be acceded to by Atlantic Slot prior to receipt of a copy of this document from the Player.</p>
                    <p>In all cases, Atlantic Slot reserves the right to suspend a withdrawal request pending verification of Player’s identity, age and location.
                    <p>Payments of winnings or refunds shall be transferred back through the same channel from which Player has made the original transfer. Where this is not possible, the Player shall be requested to provide an alternative channel together with sufficient proof that such channel relates back to the Player. It shall be within Atlantic Slot sole discretion to determine whether proof provided by the Player is sufficient or not.</p>
                    <p>All withdrawals from Players must be thoroughly checked before being processed, as per our payout management procedures. When it becomes evident that a Player never had the intention to carry out any betting activity with us, the Player should be informed that funds will not be processed until his identity, age and place of residence is proven beyond doubt and/or a period of at least three months has elapsed from when the deposit was made.</p>

                    <h2>Acceptance of wager</h2>
                    <p>Atlantic Slot shall not accept a wager from a Player unless:</p>
                    <ul>
                        <li>an Account has been established in the name of the Player and there are adequate funds in the Account to cover the amount of the wager; and</li>
                        <li>the funds necessary to cover the amount of the wager are provided in an approved way.</li>
                    </ul>
                    
                    <h2>AML Procedures</h2>
                    <p>To reduce the possibility that our operation is used as a means to launder money:</p>
                    <ul>
                        <li>Only bets from known individuals are accepted.</li>
                        <li>Cash deposits or withdrawals are not accepted.</li>
                        <li>We reserve the right to limit bets without prior notice. (for betting)</li>
                        <li>Betting activity will be monitored for irregular patterns. (for betting)</li>
                        <li>All withdrawal requests will be manually checked to ensure withdrawals are always paid out to the same account used to deposit whenever possible.</li>
                        <li>Players who deposited but did not place any bets, or only made a deposit to receive bonuses of any type, cannot withdraw any money from their casino account. A player needs to have wagered (minimum) the deposit amount in bets before he or she is able to withdraw the money.</li>
                        <li>No withdrawals shall be accepted from the accounts if a period of three (3) months has elapsed from when the last successful deposit was made. In such cases, a new minimum deposit will be required.</li>
                    </ul>
                    
                    <h2>Maximum payout limit</h2>
                    <p>Atlantic Slot shall not make a payment resulting in an excess of two thousand euros (€2,000) gained within 24 hours until the Player’s identity, age and place of residence have been verified.</p>
                    <p>Atlantic Slot shall not make a payment resulting  in an excess of two thousand three hundred euros (€2,300) cumulated of all withdrawals requested by a Player from the moment of registration, until the Player’s identity, age and place of residence have been verified.</p>
                    
                    <h2>Cash</h2>
                    <p>Atlantic Slot does not accept cash from players. Funds may be received from players only by any of the following methods:</p>
                    <ul>
                        <li>credit cards</li>
                        <li>debit cards</li>
                        <li>bank transfer</li>
                        <li>e-wallets</li>
                    </ul>
                    
                    <h2>Reporting to authorities</h2>
                    <p>Atlantic Slot reserves the right to report any suspicious transactions to the relevant authorities.</p>

                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->