<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Complaints</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>When gambling at any online casino, you might experience some issues. If that happens you are entitled to make a complaint with official government regulatory bodies that issue licenses or independent regulatory bodies, such as <a href="https://www.askgamblers.com/">AskGamblers</a>.</p>
                    <p>If you are experiencing any issues with www.atlanticslot.com regarding payment, cashback, software, deposit, account issues or other, you are welcome to file a complaint with the <a href="https://www.askgamblers.com/">AskGamblers</a> Complaints Service.</p>
                    <p>As it is important for us to be transparent, Atlantic Slot has joined <a href="https://www.askgamblers.com/">AskGamblers</a> circle of trust. We urge players who have complaints to post them publicly via the unique <a href="https://www.askgamblers.com/">AskGamblers</a> Casino Complaint Service.</p>
                    <p>To encourage both our casino and the player to solve a potential issue as quickly as possible, there is a timer installed, so each party has 96 hours to respond. Failure of each party to do so within the given time frame will result in the closure of the complaint. Hopefully, it won’t come to this, but if it by any means does, we are willing to do our best to resolve all issues in the best possible way.</p>
                    <p>You can also contact our Customer Support according to the instructions located on our website to give us any complaints regarding our services.</p>


                </div>
            </div>

<!--            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>-->
        </div>
    </div>
</div>