<div ng-init="getPage('deposits-policy')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Deposits policy</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p>Currently, a deposit can be made through the use of payment cards such as Visa, Maestro  and MasterCard. Alternatively, deposits may be made by bank transfer, e-vouchers, and e-wallets or through direct debit.</p>
                    <p>Money deposited in the Player’s Account shall be available for use in the Player’s Account within a reasonable amount of time following the confirmation of the deposit made. The timing for receipt of money also depends on the payment method chosen to make a deposit and/or maintenance or disturbances on the Payment provider’s side.</p>
                    <p>Deposits are subject to minimum sums and currency limitations, presently being: 10 EUR and 10 USD.</p>
                    <p>The Player certifies that the funds used to play the Games through the use of the Internet Site are not from an illegal source. By playing on the Atlantic Slot Internet Site the Player is declaring that he shall in no way use the Internet Site or the Software with the purpose of transferring such funds from illegal sources.</p>
                    <p>The Player will not use the Internet Site and/or the Software for any illicit or fraudulent activity, or for any unlawful or fraudulent transaction (including money laundering), in accordance to the laws of all the jurisdictions having authority over the Player. We reserve the right to discontinue or block the Account of the Player, at any time, and until the matter has been resolved, if We have the slightest doubt as to the legality of the source of funds used by the Player to bet on the Internet Site.</p>
                    <p>If You use a payment method in respect to which you are not the account holder, we reserve the right to treat any deposit into Your Account as being invalid (and any winnings arising from such deposit as void) pending the satisfactory completion of all relevant checks.</p>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->