<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-md-12">
            <!--<h1 class="mb-4">Frequently asked questions (FAQ)</h1>-->


            <div id="faq-register-account" class="anchor-target">
                <h2 class="mb-4">
                    Registration &amp; Account
                </h2>
                <div class="accordion accordion-default mb-5" id="faq-account">
                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header" id="headingRegistration1" data-toggle="collapse" data-target="#collapseRegistration1" aria-expanded="false" aria-controls="collapseRegistration1">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    How do I create my Bet Happy account?
                                </span>

                            </h5>
                        </div>
                        <div id="collapseRegistration1" class="collapse show" aria-labelledby="headingRegistration1" data-parent="#faq-account" style="">
                            <div class="card-body">
                                <p>All you have to do to get started is click the "Register" button in the upper left corner and fill in all the required fields.</p>
                                <p>We’ll then send you an email where you can verify your email address using a verification link. Once all this is done, your account will be fully active.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingRegistration2" data-toggle="collapse" data-target="#collapseRegistration2" aria-expanded="false" aria-controls="collapseRegistration2">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    I have forgotten my password. What should I do?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseRegistration2" class="collapse" aria-labelledby="headingRegistration2" data-parent="#faq-account" style="">
                            <div class="card-body">
                                <p>You can easily create a new password by clicking <span ng-click="openForgotPasswordModal()">"Forgot password?"</span> link. You will receive a reset password link in your email. The link will provide you with the ability to enter a new password for your Bet Happy account.</p>
                                <p>You can also contact our Customer Support by e-mailing us at <a href="mailto:{{websiteEmail}}">{{websiteEmail}}</a>. We will be more than happy to assist you further.</p>

                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingRegistration3" data-toggle="collapse" data-target="#collapseRegistration3" aria-expanded="false" aria-controls="collapseRegistration3">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    Can I change my registered email address? 
                                </span>
                            </h5>
                        </div>
                        <div id="collapseRegistration3" class="collapse" aria-labelledby="headingRegistration3" data-parent="#faq-account" style="">
                            <div class="card-body">
                                <p>Unfortunately, it’s not possible to change your email address.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="faq-deposits-withdrawals" class="anchor-target">
                <h2 class="mb-4">

                    Deposits &amp; Withdrawals
                </h2>
                <div class="accordion accordion-default mb-5" id="faq-payments">

                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingPayments" data-toggle="collapse" data-target="#collapsePayments1" aria-expanded="false" aria-controls="collapsePayments1">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100" >
                                    How do I deposit?
                                </span>
                            </h5>
                        </div>
                        <div id="collapsePayments1" class="collapse" aria-labelledby="headingPayments1" data-parent="#faq-payments" style="">
                            <div class="card-body">
                                <ol>
                                    <li>In order to deposit you have to have a real money account.</li>
                                    <li>Once logged into your account go to the "Deposits" menu, and you will see a section "Make a deposit".</li>
                                    <li>There is a list with all the available deposit methods.</li>
                                    <li>Select the method you wish to use.</li>
                                    <li>Follow the simple and easy steps of the method you chose.</li>
                                </ol>
                            </div>
                        </div>
                    </div>                          
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingPayments2" data-toggle="collapse" data-target="#collapsePayments2" aria-expanded="false" aria-controls="collapsePayments2">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-texttext-left text-decoration-none w-100" >
                                    What payment methods do you accept?
                                </span>
                            </h5>
                        </div>
                        <div id="collapsePayments2" class="collapse" aria-labelledby="headingPayments2" data-parent="#faq-payments" style="">
                            <div class="card-body">
                                <ol>
                                    <li>Credit and debit cards
                                        <ul type="disc">
                                            <li>Visa</li>
                                            <li>MasterCard</li>
                                            <li>Maestro</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Alternative Payment methods
                                        <ul type="disc">
                                            <li>Bank transfer (<span ng-click="openContactModal()">Contact us</span>)</li>
                                            <li>Direct Debit</li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingPayments3" data-toggle="collapse" data-target="#collapsePayments3" aria-expanded="false" aria-controls="collapsePayments3">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    Can I check all the deposits I have made? 
                                </span>
                            </h5>
                        </div>
                        <div id="collapsePayments3" class="collapse" aria-labelledby="headingPayments3" data-parent="#faq-payments" style="">
                            <div class="card-body">
                                <p>Yes, you can check all of your past deposits.<p>
                                <p>Once logged into your account go to the "Deposits" menu, and you will see a section "Deposits history". All your past deposits will be listed there.
                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingPayments4" data-toggle="collapse" data-target="#collapsePayments4" aria-expanded="false" aria-controls="collapsePayments4">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    What are my minimums on deposits and withdrawals?
                                </span>
                            </h5>
                        </div>
                        <div id="collapsePayments4" class="collapse" aria-labelledby="headingPayments4" data-parent="#faq-payments" style="">
                            <div class="card-body">
                                <p>The minimum deposit amount is:</p>
                                <ul>
                                    <li>15€ via  Visa and MasterCard</li> 
                                    <li>50€ via Direct Debit</li>
                                </ul>

                                <p><span ng-click="openContactModal()">Contact us</span> for Bank Transfer minimum deposit.</p>              

                                <p>For all withdrawals, the minimum amount to withdraw is 50 €.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingPayments5" data-toggle="collapse" data-target="#collapsePayments5" aria-expanded="false" aria-controls="collapsePayments5">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    What is the withdraw request processing time?
                                </span>
                            </h5>
                        </div>
                        <div id="collapsePayments5" class="collapse" aria-labelledby="headingPayments5" data-parent="#faq-payments" style="">
                            <div class="card-body">
                                <p>Withdraw requests are processed within 48 hours from the date of request.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="faq-privacy-security" class="anchor-target">
                <h2 class="mb-4">
                    Privacy &amp; Security
                </h2>
                <div class="accordion accordion-default mb-5" id="faq-privacy">
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingProtection1" data-toggle="collapse" data-target="#collapseProtection1" aria-expanded="false" aria-controls="collapseProtection1">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100 collapsed">
                                    Is all of my information secured?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseProtection1" class="collapse" aria-labelledby="headingProtection1" data-parent="#faq-privacy" style="">
                            <div class="card-body">
                                <p>Yes. Your communication with Bet Happy is protected by standard encryption technology. All your personal data, activity and actions you make on Bet Happy, will be kept completely private.</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingProtection2" data-toggle="collapse" data-target="#collapseProtection2" aria-expanded="false" aria-controls="collapseProtection2">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    How does the KYC (Know your customer) process work?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseProtection2" class="collapse" aria-labelledby="headingProtection2" data-parent="#faq-privacy">
                            <div class="card-body">

                                <p>When you request a withdrawal, we need to verify your Account information. We will send you an email as soon as possible, asking for the required documents with instructions on how to proceed.<p>
                                <p>We may also require documents before you request any withdrawal.</p>
                                <p>Your documents then have to be uploaded under your account KYC section and will be verified within 72 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingProtection3"  data-toggle="collapse" data-target="#collapseProtection3" aria-expanded="false" aria-controls="collapseProtection3">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    Can my documents be refused?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseProtection3" class="collapse" aria-labelledby="headingProtection3" data-parent="#faq-privacy">
                            <div class="card-body">
                                <p>Yes. We must be in accordance with the rules. In cases where it is needed, we will reach out to you to ask for more or alternative document copies, in order to stay within the law.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="card-header d-flex align-items-center collapsed" id="headingProtection4"  data-toggle="collapse" data-target="#collapseProtection4" aria-expanded="false" aria-controls="collapseProtection4">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-left text-decoration-none w-100">
                                    How can I make sure my account is fully protected?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseProtection4" class="collapse" aria-labelledby="headingProtection4" data-parent="#faq-privacy">
                            <div class="card-body">
                                <p>Make sure you are using a different password for your Bet Happy’s Account then your email account connected to your Bet Happy account.</p>
                                <p>Do virus scans on your computer/smartphone to ensure no malicious program such as key loggers, which gather your secure information, are hiding on your computer/smartphone.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="faq-responsible-gaming" class="anchor-target">
                <h2 class="mb-4">
                    Responsible gaming
                </h2>
                <div class="accordion accordion-default mb-5" id="faq-responsible">
                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingResponsible1" data-toggle="collapse" data-target="#collapseResponsible1" aria-expanded="false" aria-controls="collapseResponsible1">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    Can I set up gambling limits for my account?
                                </span>

                            </h5>
                        </div>
                        <div id="collapseResponsible1" class="collapse" aria-labelledby="headingResponsible1" data-parent="#faq-responsible" style="">
                            <div class="card-body">
                                <p>Yes. You can set limits on your deposits or wagers within a specified period of time.</p>
                                <ol>
                                    <li>Limit to restrict the amount of money that may be deposited within a specified period of time.</li>
                                    <li>Limit to restrict the amount of money that may be wagered within a specified period of time.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingResponsible2" data-toggle="collapse" data-target="#collapseResponsible2" aria-expanded="false" aria-controls="collapseResponsible2">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    What is the difference between cooling off and self-exclusion?
                                </span>

                            </h5>
                        </div>
                        <div id="collapseResponsible2" class="collapse" aria-labelledby="headingResponsible2" data-parent="#faq-responsible" style="">
                            <div class="card-body">
                                <p>A cooling-off period is when a Player wishes to take a small break from playing. This period can range from a week up to 6 months. While on a cool-off, Player can still login to his/her Account however, Player will be blocked from depositing and any promotions we have will not be sent to the Player.</p>
                                <p>Player’s Account will be activated automatically when the cooling-off period is up.</p>
                                <p>A self-exclusion is a longer period of time, 6 months to permanently, and when active, a Player can no longer log into his/her Account, and his/her Account cannot be reopened before the time limit has expired. The player will need to contact us after the limit has expired, so we can reopen the account once more.</p>
                                <p>A Player who has set a limit or exclusion may change or revoke the limit or exclusion by written notice or electronic notice given to Bet Happy.</p>

                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingResponsible3" data-toggle="collapse" data-target="#collapseResponsible3" aria-expanded="false" aria-controls="collapseResponsible3">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    Can I permanently close my Account?
                                </span>
                            </h5>
                        </div>
                        <div id="collapseResponsible3" class="collapse" aria-labelledby="headingResponsible3" data-parent="#faq-responsible" style="">
                            <div class="card-body">
                                <p>If a Player wishes to close their account permanently then they will have to contact our Support team on <a href="mailto: {{websiteEmail}}">{{websiteEmail}}</a>, followed by a brief explanation as to why they want to leave Bet Happy. By doing this, Player’s Account will be closed forever and he/she will be unable to re-open it again.</p>
                                <p>Please note, that these Players will not be able to open a new account either.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="faq-gameplay" class="anchor-target">
                <h2 class="mb-4">
                    Gameplay
                </h2>
                <div class="accordion accordion-default mb-5" id="faq-games">
                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingGames1" data-toggle="collapse" data-target="#collapseGames1" aria-expanded="false" aria-controls="collapseGames1">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    Are the games fair?                                        
                                </span>

                            </h5>
                        </div>
                        <div id="collapseGames1" class="collapse" aria-labelledby="headingGames1" data-parent="#faq-gameplay" style="">
                            <div class="card-body">
                                <p>Of course, they are. Games from our providers have fairness guaranteed by independent licensed test providing operators.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingGames2" data-toggle="collapse" data-target="#collapseGames2" aria-expanded="false" aria-controls="collapseGames2">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    Can I play games without spending any money?
                                </span>

                            </h5>
                        </div>
                        <div id="collapseGames2" class="collapse" aria-labelledby="headingGames2" data-parent="#faq-gameplay" style="">
                            <div class="card-body">
                                <p>Yes, all players are able to practice or play their favorite games without the risk of losing real money. Just click “Demo” to load the game in the demo mode.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-gradient">
                        <div class="d-flex align-items-center justify-content-between card-header collapsed" id="headingGames3" data-toggle="collapse" data-target="#collapseGames3" aria-expanded="false" aria-controls="collapseGames3">
                            <h5 class="mb-0 w-100">
                                <span class="card-header-text text-white text-left text-decoration-none w-100 ">
                                    I can’t get the casino game to start. What should I do?
                                </span>

                            </h5>
                        </div>
                        <div id="collapseGames3" class="collapse" aria-labelledby="headingGames3" data-parent="#faq-gameplay" style="">
                            <div class="card-body">

                                <p>First, please check your Flash and Java software versions. To play some of the games, Players must have the latest version of Java and Flash installed on their devices.</p> 
                                <p>Second, check your Internet connection because you might have lost it.</p>
                                <p>Third, please clear your browser cache and cookies restart the browser and try again.</p>
                                <p>In case it still does not work, contact our Support at <a href="mailto: {{websiteEmail}}">{{websiteEmail}}</a>. We will find a solution to any of such problems!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--                    <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                                    <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                                    <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
                                </div>-->
        </div>
    </div>
</div>