
<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">

            <h1 class="mb-4">Jackpots</h1>

            <div class="row">

                <div class="col-sm-12 col-md-12 col-xl-8 offset-xl-2">
                    <div class="card card-jackpot grande mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center flex-column">
                                <h4 class="jackpot-title">Grande</h4>
                                <h4>Atlantic</h4>
                                <img alt="Grande Atlantic Jackpot" src="https://www.atlanticslot.com/img/casino/marketing/jackpot.png" title="Grande Atlantic Jackpot" width="140">
                            </div>
                            <div class="col-md-8 col-sm-12 text-sm-center text-md-left">
                                <div class="card-body text-sm-center text-md-left">
                                    <h5 class="card-title jackpot-title">&dollar;8888  Jackpot</h5>
                                    <p class="card-text">By depositing a minimum of &dollar;500 you can win the Grande Atlantic Jackpot of &dollar;8888. <br/>
                                        Spin, win and grab your jackpot today.</p>
                                    <p class="card-text">
                                        <a href="/#!/games" class="btn btn-light text-dark text-decoration-none rounded-pill px-4">Get Started</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-xl-6 offset-xl-0">
                    <div class="card card-jackpot mega mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                                <h4>Atlantic</h4>
                                <h4 class="jackpot-title">Megapot</h4>
                                <img alt="Atlantic Megapot Jackpot" src="https://www.atlanticslot.com/img/casino/marketing/jackpot.png" title="Atlantic Megapot Jackpot" width="140">

                            </div>
                            <div class="col-md-8 col-sm-12 text-sm-center text-md-left">
                                <div class="card-body">
                                    <h5 class="card-title jackpot-title">&dollar;4444  Jackpot</h5>
                                    <p class="card-text">By depositing a minimum of &dollar;250 you can win the Atlantic Megapot of &dollar;4444. <br/>
                                        Spin, win and grab your jackpot today.</p>                                    
                                    <p class="card-text">
                                        <a href="/#!/games" class="btn btn-default text-white text-decoration-none rounded-pill px-4">Get Started</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-xl-6 offset-xl-0">
                    <div class="card card-jackpot midi mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                                <h4 class="jackpot-title">Mystery</h4>
                                <h4>Atlantic</h4>
                                <h4 class="jackpot-title">midi</h4>
                                <img alt="Mystery Atlantic midi Jackpot" src="https://www.atlanticslot.com/img/casino/marketing/jackpot.png" title="Mystery Atlantic midi Jackpot" width="140">

                            </div>
                            <div class="col-md-8 col-sm-12 text-sm-center text-md-left">
                                <div class="card-body">
                                    <h5 class="card-title jackpot-title">&dollar;888 Jackpot</h5>
                                    <p class="card-text">By depositing a minimum of &dollar;150 you can win the Mystery Atlantic Midi Jackpot of &dollar;888. <br/>
                                        Spin, win and grab your jackpot today.</p>

                                    <p class="card-text">
                                        <a href="/#!/games" class="btn btn-default text-white text-decoration-none rounded-pill px-4">Get Started</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-12 col-xl-6 offset-xl-0">
                    <div class="card card-jackpot mini mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                                <h4 class="jackpot-title">Mystery</h4>
                                <h4>Atlantic</h4>
                                <h4 class="jackpot-title">mini</h4>
                                <img alt="Mystery Atlantic mini Jackpot" src="https://www.atlanticslot.com/img/casino/marketing/jackpot.png" title="Mystery Atlantic mini Jackpot" width="140">

                            </div>
                            <div class="col-md-8 col-sm-12 text-sm-center text-md-left">
                                <div class="card-body">
                                    <h5 class="card-title jackpot-title">&dollar;88 Jackpot</h5>
                                    <p class="card-text">By depositing a minimum of &dollar;50 you can win the Mystery Atlantic Mini Jackpot of &dollar;88. <br/>
                                        Spin, win and grab your jackpot today.</p>
                                    <p class="card-text">
                                        <a href="/#!/games" class="btn btn-default text-white text-decoration-none rounded-pill px-4">Get Started</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-xl-6 offset-xl-0">
                    <div class="card card-jackpot promo mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                                <h4>Atlantic</h4>
                                <h4 class="jackpot-title">Promo</h4>
                                <img alt="Atlantic Promo Jackpot" src="https://www.atlanticslot.com/img/casino/marketing/jackpot.png" title="Atlantic Promo Jackpot" width="140">

                            </div>
                            <div class="col-md-8 col-sm-12 text-sm-center text-md-left">
                                <div class="card-body">
                                    <h5 class="card-title jackpot-title">&dollar;50 Jackpot</h5>
                                    <p class="card-text">By depositing a minimum of &dollar;25 you can win the Atlantic Promo Jackpot of &dollar;50. <br/>
                                        Spin, win and grab your jackpot today.</p>
                                    <p class="card-text">
                                        <a href="/#!/games" class="btn btn-default text-white text-decoration-none rounded-pill px-4">Get Started</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
