<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1>Payments</h1>
            <p>We ensure your deposits and withdrawals are processed securely and quickly.
                Payment methods are country specific.
                We charge no fees however some non EU transfers may be subject to charges applied by processing banks.
            </p>

            <h2>Deposit methods</h2>
            <div class="row">
                <div class="col-md-12">
<!--                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <img src="images/footer/white/neteller.png" width="100" />
                                    <h5 class="card-title">Visa, MasterCard, Maestro</h5>
                                </div>
                                                                <div class="d-flex flex-column">
                                                                    <div class="card-text">
                                                                        <button class="btn btn-dark" data-toggle="collapse" href="#collapse-d-Card"
                                                                                role="button" aria-expanded="false" aria-controls="collapse-d-Card">
                                                                            <i class="icon ion-md-expand"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Card</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">None</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Instant</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €10</div>
                                </div>

                            </div>

                                                        <div class="collapse mt-3" id="collapse-d-Card">
                                                            <div class="card card-body">
                                                                <p>Neteller is an online wallet service that is owned and operated by British
                                                                    payments company Optimal Payments PLC.</p>
                                                                <p>Neteller provides financial transactions services to people in 180 countries, for
                                                                    transfer to/from merchants and online casinos.</p>
                                                                <p>It allows account holders to withdraw funds to their own bank accounts.</p>
                                                                <dl class="mb-0">
                                                                    <dt>Why choose Neteller?</dt>
                                                                    <dd>
                                                                        <p>Neteller is one of the most popular payment methods online, meaning that
                                                                            most casinos will accept it as a deposit/withdrawal method.</p>
                                                                        <p>Neteller is easy to use and very secure, it allows you to make a payment
                                                                            without sharing your personal financial information to the casino.</p>
                                                                    </dd>
                                                                    <dt>Availability of Neteller</dt>
                                                                    <dd>
                                                                        <p>Neteller is available in over 200 countries and they accept over 17
                                                                            different currencies.</p>
                                                                        <p>Some countries may use this payment provider but may not be able to use
                                                                            it for gambling purposes.</p>
                                                                        <p>Neteller is available in over 200 countries except: Afghanistan, Angola,
                                                                            Australia, Barbados, Benin, Belgium, Burkina Faso,
                                                                            Cape Verde, Comoros, Crimea, Cuba, Djibouti, Eritrea, Faroe Islands,
                                                                            France, French Polynesia, Gambia, Germany, Greenland, Grenada,
                                                                            Guadeloupe, Guyana, Iran, Iraq, Japan, Kyrgyzstan, Lao People's
                                                                            Democratic Republic, Libya, Macao, Martinique, Namibia, New Caledonia,
                                                                            Niger, North Korea, Palau, Reunion, Samoa, Spain, Sudan (North and
                                                                            South), Suriname, Syria, Tajikistan, Togo, Turkmenistan, Turkey,
                                                                            United Kingdom.
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                        </div>
                    </div>-->
                    
                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">Crypto-currency</h5>
                                </div>
                         
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Crypto-currency (BTC, ETH, LTC, BCH, DASH)</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">None</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Instant</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €10</div>
                                </div>

                            </div>

                        </div>
                    </div>
                       
                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <!--<img src="images/footer/white/neteller.png" width="100" />-->
                                    <h5 class="card-title">Bank transfer (<a href="mailto:support@atlanticslotcasino.com">Contact us on support@atlanticslotcasino.com</a>)</h5>
                                </div>
                                <!--                                <div class="d-flex flex-column">
                                                                    <div class="card-text">
                                                                        <button class="btn btn-dark" data-toggle="collapse" href="#collapse-w-Bank"
                                                                                role="button" aria-expanded="false" aria-controls="collapse-w-Bank">
                                                                            <i class="icon ion-md-expand"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Bank Transfer</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €300</div>
                                </div>

                            </div>



                            <!--                            <div class="collapse mt-3" id="collapse-w-Bank">
                                                            <div class="card card-body">
                                                                <p>Neteller is an online wallet service that is owned and operated by British
                                                                    payments company Optimal Payments PLC.</p>
                                                                <p>Neteller provides financial transactions services to people in 180 countries, for
                                                                    transfer to/from merchants and online casinos.</p>
                                                                <p>It allows account holders to withdraw funds to their own bank accounts.</p>
                                                                <dl class="mb-0">
                                                                    <dt>Why choose Neteller?</dt>
                                                                    <dd>
                                                                        <p>Neteller is one of the most popular payment methods online, meaning that
                                                                            most casinos will accept it as a deposit/withdrawal method.</p>
                                                                        <p>Neteller is easy to use and very secure, it allows you to make a payment
                                                                            without sharing your personal financial information to the casino.</p>
                                                                    </dd>
                                                                    <dt>Availability of Neteller</dt>
                                                                    <dd>
                                                                        <p>Neteller is available in over 200 countries and they accept over 17
                                                                            different currencies.</p>
                                                                        <p>Some countries may use this payment provider but may not be able to use
                                                                            it for gambling purposes.</p>
                                                                        <p>Neteller is available in over 200 countries except: Afghanistan, Angola,
                                                                            Australia, Barbados, Benin, Belgium, Burkina Faso,
                                                                            Cape Verde, Comoros, Crimea, Cuba, Djibouti, Eritrea, Faroe Islands,
                                                                            France, French Polynesia, Gambia, Germany, Greenland, Grenada,
                                                                            Guadeloupe, Guyana, Iran, Iraq, Japan, Kyrgyzstan, Lao People's
                                                                            Democratic Republic, Libya, Macao, Martinique, Namibia, New Caledonia,
                                                                            Niger, North Korea, Palau, Reunion, Samoa, Spain, Sudan (North and
                                                                            South), Suriname, Syria, Tajikistan, Togo, Turkmenistan, Turkey,
                                                                            United Kingdom.
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                </div>

            </div>

            <h2>Withdraw methods</h2>

            <div class="row">
                <div class="col-md-12">
                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <!--<img src="images/footer/white/neteller.png" width="100" />-->
                                    <h5 class="card-title">Bank transfer (<a href="mailto:support@atlanticslotcasino.com">Contact us on support@atlanticslotcasino.com</a>)</h5>
                                </div>
                                <!--                                <div class="d-flex flex-column">
                                                                    <div class="card-text">
                                                                        <button class="btn btn-dark" data-toggle="collapse" href="#collapse-w-Bank"
                                                                                role="button" aria-expanded="false" aria-controls="collapse-w-Bank">
                                                                            <i class="icon ion-md-expand"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Bank Transfer</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €50</div>
                                </div>

                            </div>



                            <!--                            <div class="collapse mt-3" id="collapse-w-Bank">
                                                            <div class="card card-body">
                                                                <p>Neteller is an online wallet service that is owned and operated by British
                                                                    payments company Optimal Payments PLC.</p>
                                                                <p>Neteller provides financial transactions services to people in 180 countries, for
                                                                    transfer to/from merchants and online casinos.</p>
                                                                <p>It allows account holders to withdraw funds to their own bank accounts.</p>
                                                                <dl class="mb-0">
                                                                    <dt>Why choose Neteller?</dt>
                                                                    <dd>
                                                                        <p>Neteller is one of the most popular payment methods online, meaning that
                                                                            most casinos will accept it as a deposit/withdrawal method.</p>
                                                                        <p>Neteller is easy to use and very secure, it allows you to make a payment
                                                                            without sharing your personal financial information to the casino.</p>
                                                                    </dd>
                                                                    <dt>Availability of Neteller</dt>
                                                                    <dd>
                                                                        <p>Neteller is available in over 200 countries and they accept over 17
                                                                            different currencies.</p>
                                                                        <p>Some countries may use this payment provider but may not be able to use
                                                                            it for gambling purposes.</p>
                                                                        <p>Neteller is available in over 200 countries except: Afghanistan, Angola,
                                                                            Australia, Barbados, Benin, Belgium, Burkina Faso,
                                                                            Cape Verde, Comoros, Crimea, Cuba, Djibouti, Eritrea, Faroe Islands,
                                                                            France, French Polynesia, Gambia, Germany, Greenland, Grenada,
                                                                            Guadeloupe, Guyana, Iran, Iraq, Japan, Kyrgyzstan, Lao People's
                                                                            Democratic Republic, Libya, Macao, Martinique, Namibia, New Caledonia,
                                                                            Niger, North Korea, Palau, Reunion, Samoa, Spain, Sudan (North and
                                                                            South), Suriname, Syria, Tajikistan, Togo, Turkmenistan, Turkey,
                                                                            United Kingdom.
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <!--<img src="images/footer/white/neteller.png" width="100" />-->
                                    <h5 class="card-title">Card transfer</h5>
                                </div>
                                <!--                                <div class="d-flex flex-column">
                                                                    <div class="card-text">
                                                                        <button class="btn btn-dark" data-toggle="collapse" href="#collapse-w-Bank"
                                                                                role="button" aria-expanded="false" aria-controls="collapse-w-Bank">
                                                                            <i class="icon ion-md-expand"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Card Transfer</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €50</div>
                                </div>

                            </div>



                            <!--                            <div class="collapse mt-3" id="collapse-w-Bank">
                                                            <div class="card card-body">
                                                                <p>Neteller is an online wallet service that is owned and operated by British
                                                                    payments company Optimal Payments PLC.</p>
                                                                <p>Neteller provides financial transactions services to people in 180 countries, for
                                                                    transfer to/from merchants and online casinos.</p>
                                                                <p>It allows account holders to withdraw funds to their own bank accounts.</p>
                                                                <dl class="mb-0">
                                                                    <dt>Why choose Neteller?</dt>
                                                                    <dd>
                                                                        <p>Neteller is one of the most popular payment methods online, meaning that
                                                                            most casinos will accept it as a deposit/withdrawal method.</p>
                                                                        <p>Neteller is easy to use and very secure, it allows you to make a payment
                                                                            without sharing your personal financial information to the casino.</p>
                                                                    </dd>
                                                                    <dt>Availability of Neteller</dt>
                                                                    <dd>
                                                                        <p>Neteller is available in over 200 countries and they accept over 17
                                                                            different currencies.</p>
                                                                        <p>Some countries may use this payment provider but may not be able to use
                                                                            it for gambling purposes.</p>
                                                                        <p>Neteller is available in over 200 countries except: Afghanistan, Angola,
                                                                            Australia, Barbados, Benin, Belgium, Burkina Faso,
                                                                            Cape Verde, Comoros, Crimea, Cuba, Djibouti, Eritrea, Faroe Islands,
                                                                            France, French Polynesia, Gambia, Germany, Greenland, Grenada,
                                                                            Guadeloupe, Guyana, Iran, Iraq, Japan, Kyrgyzstan, Lao People's
                                                                            Democratic Republic, Libya, Macao, Martinique, Namibia, New Caledonia,
                                                                            Niger, North Korea, Palau, Reunion, Samoa, Spain, Sudan (North and
                                                                            South), Suriname, Syria, Tajikistan, Togo, Turkmenistan, Turkey,
                                                                            United Kingdom.
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                    <div class="card payment-card">
                        <div class="card-body small font-weight-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <!--<img src="images/footer/white/neteller.png" width="100" />-->
                                    <h5 class="card-title">Visa, MasterCard, Maestro</h5>
                                </div>
                                <!--                                <div class="d-flex flex-column">
                                                                    <div class="card-text">
                                                                        <button class="btn btn-dark" data-toggle="collapse" href="#collapse-w-Bank"
                                                                                role="button" aria-expanded="false" aria-controls="collapse-w-Bank">
                                                                            <i class="icon ion-md-expand"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="d-flex justify-content-between align-items-center flex-wrap payment-info">

                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Type</div>
                                    <div class="card-text small">Card</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Fee</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Processing time</div>
                                    <div class="card-text small">Varies</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="card-subtitle">Limits per transaction</div>
                                    <div class="card-text small">min €50</div>
                                </div>

                            </div>



                            <!--                            <div class="collapse mt-3" id="collapse-w-Bank">
                                                            <div class="card card-body">
                                                                <p>Neteller is an online wallet service that is owned and operated by British
                                                                    payments company Optimal Payments PLC.</p>
                                                                <p>Neteller provides financial transactions services to people in 180 countries, for
                                                                    transfer to/from merchants and online casinos.</p>
                                                                <p>It allows account holders to withdraw funds to their own bank accounts.</p>
                                                                <dl class="mb-0">
                                                                    <dt>Why choose Neteller?</dt>
                                                                    <dd>
                                                                        <p>Neteller is one of the most popular payment methods online, meaning that
                                                                            most casinos will accept it as a deposit/withdrawal method.</p>
                                                                        <p>Neteller is easy to use and very secure, it allows you to make a payment
                                                                            without sharing your personal financial information to the casino.</p>
                                                                    </dd>
                                                                    <dt>Availability of Neteller</dt>
                                                                    <dd>
                                                                        <p>Neteller is available in over 200 countries and they accept over 17
                                                                            different currencies.</p>
                                                                        <p>Some countries may use this payment provider but may not be able to use
                                                                            it for gambling purposes.</p>
                                                                        <p>Neteller is available in over 200 countries except: Afghanistan, Angola,
                                                                            Australia, Barbados, Benin, Belgium, Burkina Faso,
                                                                            Cape Verde, Comoros, Crimea, Cuba, Djibouti, Eritrea, Faroe Islands,
                                                                            France, French Polynesia, Gambia, Germany, Greenland, Grenada,
                                                                            Guadeloupe, Guyana, Iran, Iraq, Japan, Kyrgyzstan, Lao People's
                                                                            Democratic Republic, Libya, Macao, Martinique, Namibia, New Caledonia,
                                                                            Niger, North Korea, Palau, Reunion, Samoa, Spain, Sudan (North and
                                                                            South), Suriname, Syria, Tajikistan, Togo, Turkmenistan, Turkey,
                                                                            United Kingdom.
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                </div>

            </div>

            <!--            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                            <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                            <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
                        </div>-->
        </div>
    </div>
</div>