<div ng-init="getPage('privacy-policy')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Privacy policy</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <ol>
                        <li>Atlantic Slot is committed to respecting Players’ privacy and to complying with applicable data protection laws.</li>

                        <li>Atlantic Slot  assures Players that their personal data is processed fairly, lawfully and in accordance with good practice and is only collected for specific purposes which are known and accepted by the Player when the  Player chooses to make use of the Atlantic Slot’s site and software systems.</li>

                        <li>Atlantic Slot adheres to relevant regulations, legal notices and similar rules in Europe, taking into account the General Data Protection Regulation (’GDPR’; EU 2016/679), the Data Protection Directive (EC Directive 95/46/EC) and the Electronic Communications Privacy Directive (EC Directive/2002/58/EC).</li>

                        <li>By registering with Atlantic Slot, the Player is accepting that Atlantic Slot stores and processes the information entered in addition to the general system information and that activities are logged (see <a href="/#!/terms-of-use">Terms of use</a> for more details). Atlantic Slot takes the security and confidentiality of Players’ personal data very seriously and shall endeavor to ensure that such data is not disclosed to any third party without the Player’s prior explicit consent at any time.</li>

                        <li>Atlantic Slot’s legal status under the data protection regulation is a data controller and by acting in this capacity, we securely store and process your personal data provided to us. In case you have any questions or concerns about how we handle your personal data, you may contact our Customer Support at <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a> at any time and we will make sure your query will be forwarded to the responsible department and resolved in an appropriate time frame. In instances when you feel that your query has not been dealt in an appropriate manner and that we have failed to meet any of the legal obligations in regards to the data protection rights, you can make a report to the supervisory authority in your country.</li>

                        <li>We will collect from your personal information, meaning any information about an individual by which this individual can be identified. This includes: 
                            <ol type="a">
                                <li>Identity data: first name, last name, date of birth and gender.</li>
                                <li>Contact data: billing address, email address and telephone number and any other information provided by the Player at the time of registration on our website, subscribing to any of our services (including promotions about products), posting material or requesting further services.</li>
                                <li>Correspondence data: information provided by the Player when Player opts-in a promotion or competition, make a Customer Support enquiry or complaint or when a Player reports a problem with our website, any other records of correspondence if a Player contacts us about any matter.</li> 
                                <li>Transaction data: details about payments to and from Players and other details of products and services Players have purchased from us including the bets won and lost.</li>
                                <li>Technical data: internet protocol (IP) address, Player’s login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices Players use to access our website.</li>
                                <li>Profile data: username and password.</li>
                                <li>Usage data: information about how you use our website.</li>
                                <li>Marketing and communications data: Player’s preferences in receiving marketing from us and our third parties and Player’s communication preferences, as can be found and updated in the Account section.</li>
                                <li>Aggregated Data: statistical or demographic data for any purpose. These may derive from your personal data but is not considered personal data in law as this data does not directly or indirectly reveal your identity.</li> 
                                <li>Other personal data: provided to us for self-exclusion reasons or KYC verification.</li>
                            </ol>
                        </li>
                        <li>Atlantic Slot will not collect any personal information without the Player’s knowledge. We may though automatically collect certain data and receive personal information about Players through the use of our services and through Player’s interactions with us. We may also receive certain personal information from third-party service providers, as well as from customer lists lawfully acquired from third-party service providers. 
                            Additionally, we retain the right to engage the services of third-party providers to provide technical support, so as to process Player’s online transactions and to maintain Player’s account. We may be granted access to any information Player may provide to such service providers and third-party e-commerce services. Atlantic Slot will use and safeguard that information obtained in this way as set out in this Privacy policy. Any information that Players provide us with will only be disclosed to third parties outside the Atlantic Slot  in accordance with this Privacy policy and will be at all times protected as per our legal obligations.
                        </li>
                        <li>Player’s personal data may be shared with other companies within Atlantic Slot and with our business partners for the sole purpose of providing adequate performance of the services and for the performance of any contractual obligations we may have entered into with our business partners, suppliers and sub-contractors. Details of any third party to whom your information may be passed onto for the fulfillment of use of our services shall be made available to you. We shall always take all reasonable steps to ensure that your information and data is treated securely and in accordance with this Privacy policy.</li>

                        <li>Personal data of Players given to Atlantic Slot can only be accessed by Atlantic Slot employees in possession of the required clearance.</li>
                        <li>When Player opens an account at Atlantic Slot, the usage of Player’s data will always be in accordance with data protection regulations and Atlantic Slot will only process Player’s data when we have a lawful basis to do so. The lawful basis for processing your data are:

                            <ol type="a">
                                <li>
                                    When Player’s data are necessary to provide services to the Player under the performance of the contract (<a href="/#!/terms-of-use">Terms of use</a>) we have with the Player. The cases falling under this basis are:  
                                    <ul type="disc">
                                        <li>setting up, re-activating, operating and managing your account, including providing the services that you request from us;</li>
                                        <li>processing card and online payments relating to our services;</li>
                                        <li>enforcing or applying our <a href="/#!/terms-of-use">Terms of use</a> and other policies, and to protect the rights, property, or safety of our company, our players, or others;</li>
                                        <li>providing you with any other services or complying with other legal or regulatory obligations from time-to-time.</li>
                                    </ul>
                                </li>

                                <li>
                                    When we are obliged to process your data in accordance with our legal or licensing obligations and responsibilities. The cases falling into this basis are:  
                                    <ul type="disc">
                                        <li>verifying your age and identity, including disclosing your personal data to third parties (such as financial institutions, credit reporting agencies and age verification agencies) regarding such verification;</li>
                                        <li>preventing fraud, abuse and money laundering, ensuring compliance with our <a href="/#!/terms-of-use">Terms of use</a>, reducing credit risk and protecting game integrity. This purpose may require us to disclose your personal data and betting and gaming history to third parties such as the relevant regulator, gaming bodies, financial institutions, agencies responsible for verifying age, the police and credit reporting agencies;</li>
                                        <li>monitoring gambling and gambling patterns to comply with responsible gambling obligations and to ensure that your use of our services is responsible;</li>
                                        <li>giving effect to any self-exclusion or any other responsible gambling tool we offer.</li>
                                    </ul>
                                </li>
                                <li>
                                    When you give us your explicit consent to do so. The cases under into this basis are:
                                    <ul type="disc">
                                        <li>providing you with information about promotional offers, but only where you have opted-in to receiving such offers;</li>
                                        <li>providing you with information about promotional offers from other brands which we are affiliated with or in a group relationship with, but only where you have opted-in to such offers;</li>
                                        <li>monitoring and giving effect to deposit, spend and loss limits that you have set;</li>
                                        <li>responding to the communications you send to us.</li>
                                    </ul>
                                </li>
                                <li>
                                    When we have a legitimate interest to process your personal data provided that those interests do not prejudice your own rights and interests. The cases falling under this basis are:  
                                    <ul type="disc">
                                        <li>making available to you online advertisements and branding in relation to our goods, services, promotions and offers which you may be of interest to you;</li>
                                        <li>improving our service and making your experience as enjoyable as possible by preparing statistics and providing analytical reports and analysis relating to the use of the services by our customers;</li>
                                        <li>undertaking research, conducting surveys, technical diagnostics, research analyses and obtaining feedback from our players (which may include us contacting you directly) in order to better understand and improve our services;</li>
                                        <li>training and quality management to improve our services and customer relations (which may include recording telephones calls).</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>When we process Player’s personal data as mentioned above in clause 8, we can process these either directly or appoint members of our group or service providers that are legally known to be as processors, to do this on our behalf all of who adhere to this Privacy policy, and who process Player’s personal data on our behalf for the purposes set out above.
                        <li>Atlantic Slot has adopted best practice when it comes to the principles of the communication with its Players for which the explicit consent has been given by a Player.
                        <li>Atlantic Slot operates globally; therefore it may be necessary to transfer Player’s information to countries outside the EU. The data protection and other laws of these countries may not be as comprehensive as those in the EU. In these instances, we will take steps (such as by standard contractual clauses pursuant to the General Data Protection Regulation) to ensure that an adequate level of protection is given to Player’s personal data.
                        <li>All the aforementioned is in place in order to assure the Players that at all times personal data is:
                            <ol type="a">
                                <li>processed in accordance with the rights of the Player concerned;</li>
                                <li>processed fairly and lawfully;</li>
                                <li>obtained only for a specific and lawful purpose;</li>
                                <li>adequate, relevant and not excessive to its purpose;</li>
                                <li>accurate and updated;</li>
                                <li>kept in a secure manner.</li>
                            </ol>
                        </li>

                        <li>Player’s personal data (such as name, address, telephone number or email address, and which is referred to in this Privacy Policy as "Player’s Information", will be processed by Atlantic Slot in accordance with this Privacy policy.</li>

                        <li>If at any time Player wishes Atlantic Slot to stop or restrict processing the Player’s Information for any of the purposes set out in this Privacy Policy, then the Player must update his settings in his player profile under the My Account section on the website.  In the event a player wants to make changes to his consent not listed here, he should contact Customer Support. Please note that, depending on the purpose of processing the Player wish us to stop or restrict processing, this might mean that Player’s Account might have to be closed, on which we will advise you on the moment we receive your withdrawal request, as some requests can lead to the fact we can’t deliver the service without processing certain data.</li>
                        <li>Please note that while the Services may contain links to websites, services and applications operated by third parties, Atlantic Slot is not responsible for the privacy practices or content of any such websites or applications. Players should always review these privacy practices carefully before providing personal information to such third parties.</li>
                        <li>As part of the account registration process, the Player has the opportunity to "opt-out" from being informed of future events, offers and promotions from Atlantic Slot. Visitors who wish to take the option should leave the relevant box in the registration process "unticked". If Player wishes to update his preferences for processing personal information at a later stage or withdraw his consent given on an earlier stage, this is possible at all times in the Player’s account section.</li>

                        <li>The player can request a copy of the personal data we hold for him and check that we’re lawfully processing these data at all times.</li>
                        <li>If a Player sees that we hold incorrect or inaccurate data for him, he may always request a correction of this data. We might need to verify the accuracy of new data provided through the general KYC verification procedure, on which we will accordingly inform a Player on the moment the correction of data has been requested.</li>
                        <li>The player has a right to request the erasure of the personal data at any time. This gives you the right to request from us to delete or remove personal data where there is no good reason for us to continue to process it. However note that we may not always be able to comply with your request of erasure for specific legal or regulatory reasons which will be notified to you, if applicable, at the time of your request.</li>
                        <li>Player has a right to object to the processing of his personal data in cases where we are relying on a legitimate interest basis for processing and/or there is something about your particular situation which makes you feel that it impacts on your fundamental rights and freedoms. Player also has the right to object where we are processing your personal data for direct marketing purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to process your information which overrides your rights and freedoms.</li>

                        <li>The right to request the transfer of your personal data to you or to a third party is currently not an available service that we could provide you with.</li>
                        <li>All the Atlantic Slot’s employees are required to comply with the terms of this Privacy policy. This Privacy policy provides that employees are obliged to keep Player information strictly confidential. This obligation continues once an employee has left Atlantic Slot.</li>
                        <li>The Player’s personal information will not be stored for any longer period than is necessary for the purposes for which it was collected. This means that we will hold Player’s personal data for as long as you use our service and for no more than ten years after, unless required to be kept longer in accordance with legal and regulatory requirements.</li>
                        <li>Following the closure of the Players Account the Personal Data that is processed for the purpose of provision of services and marketing purposes, will no longer be used for these purposes. Following the closure of the Players Account some Personal Data, such as transaction history, contact details or name, is being kept, provided there is a legitimate purpose.</li>

                    </ol>


                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->