<div ng-init="getPage('refunds-policy')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--
<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Refunds policy</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p>No refund can be completed once the alleged deposit (including the bonus, cashback) has been played using the Atlantic Slot Services.</p>
                    <p>If, for any reason, You are not satisfied with your deposit to Atlantic Slot, We will upon your request make a refund of the balance currently held in your account. Before a refund is processed all bonuses in Your account will deducted prior to calculating the amount to be refunded.</p>
                    <p>A refund request will only be considered if it is requested within the first 24 (twenty-four) hours of the alleged transaction, or within 30 (thirty) days if a User alleges that another individual (or a minor) has accessed his/her User Account.</p>
                    <p>We reserve the right to withhold any refund or reverse transaction until the identity of the Account User is adequately established to our satisfaction, in order to ensure that any payment made to Us will be honored after a refund has been made. You agree to provide, in case We demand, a notarized identification, or any other certified identification in accordance with the applicable laws of Your jurisdiction. If such notarized or certified identification is not provided within 5 (five) days of our request, then such refund or reverse transaction shall not be effected, Your Account shall be closed and You shall forfeit all funds in Your Player Account, such decision shall be final, binding and not subject to appeal.</p>
                    <p>If any credit card purchases are considered to carry an unacceptable risk for security or legal reasons either by our credit card processors or by our managers, We will initiate refunds for all such transactions back to the credit card, and notify all the appropriate authorities and parties.</p>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->