<div ng-init="getPage('responsible-gaming')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Responsible gaming</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>One of our missions is to contribute and create a safe environment for its players where games are used only for the purpose of entertainment. In this regard, Atlantic Slot implemented the latest and best procedures to keep the Player's gameplay safe and avoid underage gambling.</p>
                    <p>While the majority of players are using games for fun and entertainment, it can happen that sometimes, some players become addicted to playing games of chance. Having a one-time losing streak does not cause damage to a player's life, but losing a sufficient amount of money due to the urge of gambling can cause problems in all major areas of life: psychological, social, physical or professional.</p>
                    <p>Preventing compulsive gambling is challenging and might not always be possible, but counseling proved to have a major positive effect on people who are prone to compulsive gambling.</p>
                    <h2>Objectives</h2>
                    <p>Atlantic Slot aims to put in place procedures to prevent the abuse of gambling and the proliferation of compulsive gamblers.</p>
                    <p>Gaming is a form of entertainment enjoyed by millions of people and many gamblers play without experiencing any problems. However, some people can become addicted to this type of entertainment.</p>
                    <h2>Symptoms</h2>
                    <p>Just as with alcohol or drugs, people can get addicted to gambling. Having a one-time losing streak will not change your lifestyle, but losing sufficient amounts of money on a regular basis indicates signs of compulsive gambling. Gambling problems causes disruptions in any major area of life: psychological, physical, social or vocational. It usually begins in adolescence in men and later in women.</p>
                    <p>This behavior usually progresses from occasional gambling to habitual gambling. The urge to gamble becomes so great that the tension can only be relieved by more gambling. Higher stakes and personal risks become involved, as well as neglect of other interests, family, and work.</p>
                    <h2>Prevention</h2>
                    <p>Prevention of the urge to develop addictive behavior is challenging and may not always be possible. Counseling may benefit people who are prone to compulsive gambling or other addictive behavior. People with close relatives who are compulsive gamblers might be at higher risk and should be especially careful.</p>
                    <p>Take a look at these questions and see whether they apply to you.</p>
                    <ol>
                        <li>Do you gamble to escape from a boring or unhappy life?</li>
                        <li>Do you stay away from work, college or school to gamble?</li>
                        <li>Have you gambled away the money needed to pay household bills?</li>
                        <li>Have you lost interest in your family, friends or hobbies?</li>
                        <li>Have others ever criticized your gambling?</li>
                        <li>Do you gamble until your last penny is gone, even the fare home or the cost of a cup of tea?</li>
                        <li>Have you ever lied to cover up the amount of money or time you have spent gambling?</li>
                        <li>When you run out of money gambling, do you feel lost and in despair and need to gamble again as soon as possible?</li>
                        <li>Do you struggle to sleep because of your problems with gambling?</li>
                        <li>After losing, do you feel you must try and win back your losses as soon as possible?</li>
                        <li>Do arguments, frustrations or disappointments make you want to gamble?</li>
                        <li>Do you feel depressed or even suicidal because of your gambling?</li>
                    </ol>
                    <p>If you replied to any or some of these questions in the affirmative form, you are urged to ask for help or contact one of the following:</p>
                    <ul>
                        <li>Gamblers Anonymous - <a href="https://gamblersanonymous.org" target="_blank">www.gamblersanonymous.org</a></li>
                        <li>Be Gamble Aware - <a href="https://www.begambleaware.org" target="_blank">www.begambleaware.org</a></li>
                        <li>Global Gambling Guidance Group –  <a href="https://www.gx4.com" target="_blank">www.gx4.com</a></li>
                        <li>Gordon House Therapy Services –   <a href="https://www.gordonmoody.org.uk" target="_blank">www.gordonmoody.org.uk</a></li>
                        <li>Gambling Therapy –  <a href="https://www.gamblingtherapy.org" target="_blank">www.gamblingtherapy.org</a></li>
                        <li>GamCare –   <a href="https://www.gamcare.org.uk/" target="_blank">www.gamcare.org.uk</a></li>
                    </ul>
                    <h2>Internal Procedures and Regulations</h2>
                    <p>Atlantic Slot endorses a policy of responsible gaming and seeks to address this problem in a number of ways:</p>
                    <ul>
                        <li>membership can be canceled and a Player prevented from using Atlantic Slot’s services if the Player asks Atlantic Slot  to do so;</li>
                        <li>procedures profiling Players and identifying a Player’s age are in place in order to prevent and preclude underage gaming;</li>
                        <li>the Player’s e-mail address can be removed from Atlantic Slot’s mailing lists, upon Player’s request</li>
                    </ul>

                    <p>In accordance with its Responsible gaming policy, Atlantic Slot provides the opportunity to the Player to limit the amount that the Player may wager. A Player may write a notice or an electronic notice to Atlantic Slot to:</p>
                    <ul>
                        <li>set a limit on the amount the Player may wager within a specified period of time;<br/>
                            A wagering limit controls how much money the Player bets per day, week, or month. Please keep in mind that wagering money does not mean losing it; Player could have easily wagered €300 while his balance only changed by €30.</li>
                        <li>set a limit on the losses the Player may incur within a specified period of time;<br/>
                            A Player can add a loss limit and the system notifies him once he has reached it. Player won’t be able to play for real money until the next period starts.</li>
                        <li>set a limit on the amount of time the Player may play in any one session;<br/>
                            This facility enables the Player to limit how long he is able to stay logged-in for during a single session. The time period may be revised down at any time but any increases will only be implemented after 7 days.</li>
                        <li>set a deposit limit in the Player’s Account;<br/>
                            Decreasing a deposit limit can be done immediately. Increasing a limit or revoking it, needs to be confirmed:
                            -  after 7 days.</li>
                    </ul>

                    <h2>Freeze periods</h2>
                    <p>The freeze periods cannot exceed six (6) months.</p>
                    <p>During the freeze, the Player’s Account will be closed for the specified period. A Player may wish to withdraw any funds from his account before starting a freeze period. Any balance on Player’s account will not be automatically refunded once a freeze period has started. Following the end of the freeze period, a Player’s account will automatically be re-opened.</p>

                    <h2>Cool-off periods and self-exclusion</h2>
                    <p>Cool-off periods can last 7 days.</p>
                    <p>A minimum temporary self-exclusion period is 6 months. During this period a Player will not be able to reactivate his/her Account under any circumstance. Temporary self-exclusion may be extended for further periods.</p>
                    <p>Following the end of the self-exclusion, if a Player genuinely feels that he is in control of his gambling and is ready to reopen his/her Account, he/she needs to contact Atlantic Slot’s Customer Support who will be able to advice.</p>
                    <p>In the event, a Player does not choose to update Atlantic Slot  with any changes in Player’s personal information and Player manages to open new accounts and place bets, Player’s deposits and any winnings accrued may be retained upon detection.</p>
                    <p>A Player who has set a limit or exclusion under this regulation may change or revoke the limit or exclusion by written notice or electronic notice.</p>
                    <p>A notice increasing or revoking a limit or decreasing the exclusion has effect seven days after Atlantic Slot has received the notice.  A notice reducing a limit or increasing the exclusion has effect immediately after it is received by Atlantic Slot.</p>
                    <p>Atlantic Slot shall not accept a wager from a Player contrary to a limit or exclusion set by the Player himself.</p>
                    <p>Atlantic Slot is also precluded, through its internal policies and controls from giving any form of a credit to Players or any form of a loan.</p>

                    self-exlusion
                    <p>When a player asks to be self-excluded the Customer Support should direct the Player to his/her account where he/she can find the tools to proceed with self-exclusion.</p>
                    <p>Please note that the term “self-exclusion” and the closure of an account due to responsible gaming are 2 different things.</p>
                    <ol>
                        <li>	
                            Self-exclusion: This means temporary or permanent freezing of Player’s account. Options should include:
                            <ul type="disc">
                                <li>1 week</li>
                                <li>1 month</li>
                                <li>3 months</li>
                                <li>Forever </li>
                            </ul>

                            This option still allows Atlantic Slot to contact the customer with marketing material such as bonus and promotional offerings. Every marketing material should always have its own unsubscription link, meaning it is in Players' hands what to receive after self-exclusion.
                        </li>  
                        <li>  
                            Closure due to RG (Responsible Gambling): In this case, Atlantic Slot  is obliged to close the account permanently. The note on the account will be “RG case, do not re-open”. Such emails of these customers should be kept in an Excel sheet just in case the customer contacts the licensor.
                        </li> 
                    </ol>
                    <p>In case the Player wants to re-open his/her account before the self-exclusion time has elapsed, he/she should send an email with a declaration which we will provide (scanned and signed by the Player) and his/ her account can be re-opened. The declaration should then be sent to the Fraud department and saved.</p>
                    <p>In case the customer is under <a href="https://www.gamcare.org.uk/" target="_blank">GAMCARE</a> or any other institution which helps players with their gambling problems – the account will be closed by the Customer Support and a note should be written on the account stating “RG case, do not re-open”.</p>




                    <h2>Underage gambling</h2>
                    <p>In regards to the underage gambling and in accordance with law regulations, Atlantic Slot does not allow anyone under the age of 18 years to register or play. Atlantic Slot reserves the right to ask for proof of age from any account holder and to carry out checks to verify the information provided. Accounts may be suspended and funds withheld until satisfactory proof of age is provided.</p>
                    <p>Should a Player have minors in the household or should there be a possibility of minors accessing Player’s computer, the Player is advised to use child protection software on all of Player’s home computers to block gaming sites to be accessed by minors. There are a number of third-party applications available that parents or guardians can use to monitor or restrict the use of their computer's access to the Internet.</p>



                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->