<div class="container-fluid page-container">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Self-exclusion</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>When a player asks to be self-excluded the Customer Support should direct the Player to his/her account where he/she can find the tools to proceed with self-exclusion.</p>
                    <p>Please note that the term “self-exclusion” and the closure of an account due to responsible gaming are 2 different things.</p>
                    <ol>
                        <li>	
                            Self-exclusion: This means temporary or permanent freezing of Player’s account. Options should include:
                            <ul type="disc">
                                <li>1 week</li>
                                <li>1 month</li>
                                <li>3 months</li>
                                <li>Forever </li>
                            </ul>

                            This option still allows Atlantic Slot to contact the customer with marketing material such as bonus and promotional offerings. Every marketing material should always have its own unsubscription link, meaning it is in Players' hands what to receive after self-exclusion.
                        </li>  
                        <li>  
                            Closure due to RG (Responsible Gambling): In this case, Atlantic Slot  is obliged to close the account permanently. The note on the account will be “RG case, do not re-open”. Such emails of these customers should be kept in an Excel sheet just in case the customer contacts the licensor.
                        </li> 
                    </ol>
                    <p>In case the Player wants to re-open his/her account before the self-exclusion time has elapsed, he/she should send an email with a declaration which we will provide (scanned and signed by the Player) and his/ her account can be re-opened. The declaration should then be sent to the Fraud department and saved.</p>
                    <p>In case the customer is under <a href="https://www.gamcare.org.uk/" target="_blank">GAMCARE</a> or any other institution which helps players with their gambling problems – the account will be closed by the Customer Support and a note should be written on the account stating “RG case, do not re-open”.</p>


                </div>
            </div>

<!--            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>-->
        </div>
    </div>
</div>