<div ng-init="getPage('withdrawals-policy')">
    <span ng-bind-html="Page.content"></span>
</div>
<!--<div class="container-fluid page-container static-page">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <h1 class="mb-4">Withdrawals policy</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>At atlanticslot.com, we believe that it is important for you to be reunited with your money as quickly as possible. It is also essential that we abide by regulatory practices to process withdrawal requests in a secure and legally compliant manner. Due to this, we require all new members to verify their identity before their first withdrawal request can be processed.</p>
                    <p>Please note that we will only have to verify your identity the one time, so you should not be asked to share these documents with us again.</p>
                    <p>You may at any time request a payout from the existing balance on Your Account in whole or in part, provided that You are verified, all payments have been confirmed and all amounts deposited.</p>
                    <p>Wherever possible, withdrawals are processed to the same payment method used to fund the gaming account.</p>
                    <p>At any time, a Player may have a maximum of 1 pending withdrawal on the account.</p>
                    <p>The minimum amount You are permitted to withdraw, per withdrawal, is fifty (50) Euro. Any expense related to withdrawal requests shall be charged to the Player.</p>
                    <p>Withdrawal requests shall be processed immediately. Atlantic Slot shall endeavor for payments to take place in the forty-eight (48) hours following the Player’s request but does not hold itself liable for a specific period of time in this regard. Atlantic Slot does not hold itself liable for any additional processing time as may be applied by the payment services providers of the Player as per the contractual relationship between the respective payment provider and the Player.</p>
                    <p>Atlantic Slot reserves the right, at its sole discretion and at all times to request documents to verify the following:</p>
                    <ul>
                        <li>the identity of the registered account holder;</li>
                        <li>the authorization of the account holder to use a specific card; and/or</li>
                        <li>any facts and information provided to Atlantic Slot by the Player.</li>
                    </ul>
                    <p>Any such requests may be made whenever Atlantic Slot deems necessary and we reserve the right to suspend an Account pending any investigations and verifications.</p>
                    <p>Atlantic Slot has the right, exercisable at its sole discretion and at all times, to request documents necessary to verify the identity of the Account holder. This is carried out in order to ensure that payment of any winnings is being made to the correct person and/or the use of the Player’s Account conforms with this Agreement.</p>

                    <h2>Account Verification</h2>
                    <p>To verify your identity and proceed with your withdrawal request, we will require the following forms of identification. These should be scanned or digitally photographed and uploaded in the KYC section of your account page or emailed to <a href="mailto:support@atlanticslot.com">support@atlanticslot.com</a>.
                    <p>Please ensure that each file is 1MB or under, and that the email does not exceed 10MB. Acceptable file types are jpeg, png or pdf.</p>

                    <h3>1. Valid Photographic ID</h3>
                    <p>We accept the following forms of photographic ID, provided the signature, name and photograph are clearly visible:</p>
                    <ul>
                        <li>Passport</li>
                        <li>Driving license</li>
                        <li>National ID card</li>
                    </ul>

                    <figure>
                        <img src="img/casino/KYC_Identity.png" height="400"
                             alt="Passport, Driving license, National ID card"/>
                        <figcaption class="small">Example of acceptable identity verification documents: Passport, Driving license, National ID card</figcaption>
                    </figure>
                    <h3>2. Credit/Debit Card</h3>
                    <p>We require a copy of the front and back of the card that you use to fund your account. The first 6 and last 4 digits of your long credit card number are required. The remaining digits can be hidden, as can the last 3 digits of the security code from the back of your card. If you use more than one card to fund your account, you may be asked to supply copies for the additional cards as well.</p>
                    <figure>
                        <img src="img/casino/KYC_Credit_card.png" height="250"
                             alt="Credit/Debit Card"/>
                        <figcaption class="small">Example of a credit/debit card. Credit/Debit Card should have the first 6 and last 4 digits of the credit card number covered. The back should have the CVV code covered.</figcaption>
                    </figure>
                    <p>Please note a recent card statement may be provided as an alternative option, but only if the credit card itself is not available.</p>

                    <h3>3. Proof of address</h3>
                    <p>There is a chance that we may also need to verify your address. If so, this can be done using either a utility bill, credit card bill or bank statement. Please note: we cannot accept phone bills as proof of address.</p>
                    <p>The full document will need to be clearly legible, with all edges of the paper visible and not older than 3 (three) months.</p>
                    <figure>
                        <img src="img/casino/KYC_Utility_bill.png" height="500"
                             alt="Utility Bill"/>
                        <figcaption class="small">Example of a utility bill</figcaption>
                    </figure>

                    <p>It can take up to 72 hours to process your documents and update your account. After this, you will able to withdraw from your account.</p>
                    <p>For your own security and convenience, we recommend that you upload the documents in the KYC section of your account page or email your documents to us. However, you may also fax or post these using the details below:
                        <br/>ASTRA DIGITAL LTD,<br/> 
                        str. Georgi Sava Rakovski 161A, et.3, ap.8<br/>
                        Sofia, Bulgaria.<br/>

                        E-mail: <a class="text-link-default" href="mailto:support@atlanticslot.com">support@atlanticslot.com</a><br/> 

                        Phone: <a class="text-link-default" href="tel:359877772521">+359 87 7772 521</a> 
                    </p>
                    <p>Please note that, under certain circumstances, additional documentation may be required, such as confirmation of deposits, a bank reference or notarized ID.</p>
                    <p>In the event You are not able to provide Atlantic Slot with the requested documents, within a reasonable time frame not exceeding thirty (30) days from the date of Our request, We may close your Account and/or Your withdrawal may be refused and/or Your winnings can be voided. These consequences may also occur in the event the player is found to have supplied false or misleading information. Provision of a false or invalid phone number may additionally result in a delay in Your requests.</p>
                    <p>A Player requesting the first withdrawal following registration may be required to verify his identity through the submission of copies of identification documents. In the event the identification documents are requested by Us, the withdrawal request shall not be acceded to by Us prior to receipt of copies of these documents from the Player.</p>
                    <p>Withdrawals from a Player’s Account can only be addressed to the person registered on the Player’s Account and as per the conditions specified on the Internet Site. Withdrawals shall be made through a route that causes fewer charges for the Player and will be decided on an individual level.</p>
                    <p>Players who deposited but did not place any bets, or only made a deposit to receive bonuses or free spins, cannot withdraw any money from their Account. A Player always needs to have placed at least his deposit amount in bets before he or she is able to withdraw the money.</p>
                    <p>You agree and are familiar with the fact that We, or a payment processing company, on our behalf, will handle all financial account transactions ("Payment Processor"). You also agree that the Payment Processor reserves the right to hold back any payments, if the Payment Processor has reasons to believe or that there is any suspicion that You may be engaging in, or have been engaged in fraudulent, collusion, unlawful, or improper activities.</p>
                    <p>You are aware of and agree that Atlantic Slot can decide at its own standards, that the maximum amount that You can be paid-out is € 1,000 (or the equivalent amount in USD  currency) per week, and € 2,500 per month. All amounts larger than € 1,000 weekly or € 2,500 monthly will be paid in terms which Atlantic Slot decides until the full withdrawal amount is reached if and when Atlantic Slot decides not to pay out the whole amount at once.</p>
                    <p>Atlantic Slot may, at his own discretion, also decide to pay the amount as a whole, even if the payout amounts will be higher than the maximum set within the paragraph. This condition also applies to winnings of (progressive) jackpots. You also understand and agree that depending on Your specific locality and preferred withdrawal option, a withdrawal fee may be applicable. Any fees involved will be deducted from the withdrawn winnings.</p>

                    <p>You are aware of and agree that Atlantic Slot can withhold/postpone or suspend the payment of Your withdrawal if Your account has been inactive and no wagering has been made in the same calendar month. This condition also applies to winnings of progressive jackpots.</p>
                    <p>You are aware of and agree that, in cases where a withdrawal was accepted by Atlantic Slot, but due to the wrong banking details submitted with withdrawal request and / or any other occurrence where it is not possible to perform a successful withdrawal from our side (for example account has been closed in the meantime or withdrawals are being rejected by the recipient's bank), if the right banking details or other details requested for withdrawal are not submitted within 5 business days and/or issued occurrence has not been solved, we will return the amount requested to be withdrawn back to Your balance.</p>
                    <p>All withdrawal requests will be manually checked to ensure withdrawals are always paid out to the same account used to deposit whenever possible.</p>
                    <p>No withdrawals shall be accepted from the accounts if a period of three (3) months elapsed from the last successful deposit. In such cases, a new minimum deposit will be required.</p>



                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mx-2">
                <button type="button" class="btn btn-light rounded-pill shadow px-4 mx-1"><i class="fas fa-print"></i> <span class="btn-hide-text">Print this page</span></button>
                <button type="button" class="btn btn-default rounded-pill shadow px-4 mx-1"><i class="fas fa-file-pdf"></i>  <span class="btn-hide-text">Download PDF</span></button>
            </div>
        </div>
    </div>
</div>-->